<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>JSON Lint</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- CSS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
	<div id="app_jsonlint">
		<v-app dark>

			<!-- ToolBar -->
			<v-toolbar>
				<v-toolbar-title>JSON Lint</v-toolbar-title>
			</v-toolbar>

			<!-- Main -->
			<v-container grid-list-md text-xs-center>
				<v-layout row wrap>

					<!-- Input -->
					<v-flex xs6>
						<div class="headline font-weight-bold">Input</div>
						<v-textarea solo outline v-model="inputString" rows="25"></v-textarea>
						<v-btn color="error" @click="clearString('inputString')">
							Clear<v-icon right dark>delete</v-icon>
						</v-btn>
						<v-btn-toggle v-model="indentation">
							<v-btn flat value="    ">Spaces</v-btn>
							<v-btn flat value="	">Tabs</v-btn>
						</v-btn-toggle>
						<v-btn color="info" @click="lint()">
							Lint<v-icon right dark>chevron_right</v-icon>
						</v-btn>
						<v-alert :value="parseError" type="error">
							{{parseError}}	
						</v-alert>
					</v-flex>

					<!-- Output -->
					<v-flex xs6>
						<div class="headline font-weight-bold">Output</div>
						<v-textarea solo outline v-model="outputString" rows="25" id="outputString"></v-textarea>
						<v-btn color="info" @click="copyToClipboard()">
							Copy<v-icon right dark>file_copy</v-icon>
						</v-btn>
						<v-btn color="error" @click="clearString('outputString')">
							Clear<v-icon right dark>delete</v-icon>
						</v-btn>
					</v-flex>

				</v-layout>
			</v-container>
		</v-app>
	</div>

	<!-- Javascript -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<script src="./jsonlint.js"></script>
	<script src="./jsonparse.js"></script>
	<script src="app.js"></script>

</body>

</html>