<!-- index.html -->

<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>JSON Lint</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="app.css">
</head>
<body>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<a class="navbar-brand">JSON Lint</a>
		</div>
	</nav>

	<!-- Main body of our application -->
	<div class="container" id="app_jsonlint">

		<!-- Input -->
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Input</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<textarea v-model="inputString" class="form-control" rows="25"></textarea>
						</div>
						<div class="form-group">
							<button @click="lint()" type="button" class="btn btn-primary pull-right">
								Lint JSON
								<span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- Ouptput -->
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Output</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<textarea v-model="outputString" class="form-control" rows="25" id="outputString"></textarea>
						</div>
						<div class="form-group">
							<button @click="copyToClipboard()" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
								Copy
							</button>
							<button @click="clearOutput()" type="button" class="btn btn-danger pull-right">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								Clear
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<!-- Javascript -->
	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
	<script src="https://unpkg.com/vue@2.3.3"></script>
	<script src="./jsonlint.js"></script>
	<script src="app.js"></script>
</body>